@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    outline: none;
}
html{
  font-size: 62,5%;
}
h1{
  font-size: 2rem;
  color: #bcd70c;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #151515;
  border-radius: 5rem;
}

h3{
  font-size: 1rem;
  color: #bcd70c;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: .5rem;
  margin: 2px;
  /* background-color: #2b2c2e; */
  border-radius: 5rem;
  gap: 10px;
}
.name{
  gap:5px;
  background-color: #151515;
  border-radius: 2rem;
  /* display: flex;
  align-items: center; */
}
.container {
  width: 100%;
  min-width: 100%;
  height: 100vh;
  background: linear-gradient(#313131, #151515);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.player{
  width: 25rem;
  height: 45rem;
  background: linear-gradient(to right, #313234, #2f3031);
  box-shadow: 0 1rem 5rem rgba(0,0,0,0.4);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.player-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-btn{
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid rgba(255,255,255,0.1);
  background-color: #2b2c2e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8a9ab;
  box-shadow: .5rem .5rem 2rem -.1rem rgba(0,0,0,0.5), -0.4rem -0.4rem 2rem -0.1rem rgba(255,255,255,0.2);
  cursor: pointer;
}

.player-btn:active{
  transform:translate(0.2rem);
}

.player-top span{
  font-size: 1.3rem;
  color: #a8a9ab;
}

.player-body{
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-song{
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: .5rem solid rgba(255,255,255,0.2);
  box-shadow: .6rem .6rem 4rem -.1rem rgba(0,0,0,0.9), -0.6rem -0.6rem 4rem -0.1rem rgba(255,255,255,0.4);
  transform: rotateZ(-15deg);
}

.cover{
  width: 100%;
  height: 100%;
  background-color: #101112;
  border-radius: 50%;
}

@keyframes coverRotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.rotate{
  animation: coverRotate 10s linear infinite;
}

.cover span{
  position: absolute;
}

.cover span:nth-child(1){
  color: #ddd;
  top: 20%;
  left: 30%;
  font-size: 1.6rem;
}
.cover span:nth-child(2){
  width: 10rem;
  color: #fff;
  top: 35%;
  left: 20%;
  font-size: 2.5rem;
  text-align: center;
}


.song-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.song-details{
  display: flex;
  flex-direction: column;
}

.song-name{
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}

.song-artist{
  font-size: 1.2rem;
  color: #a8a9ab
}

.song-info i {
  font-size: 2rem;
  background: linear-gradient(to right, #a7a521, #bcd70c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.song-time{
  width: 100%;
  height: .5rem;
  background-color: #0c0c0d;
  border-radius: .5rem;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(255,255,255,0.1);
  cursor: pointer;
  position: relative;
}

.song-progress{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right,  #a7a521, #bcd70c);
  border-radius: 0.5rem;
}

.time{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.time span{
  font-size: 1.2rem;
  color: #a8a9ab;
}

.controls{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-pause{
  width: 5rem;
  height: 5rem;
  background: linear-gradient(to right,  #a7a521, #bcd70c);
  box-shadow: .5rem .5rem 2rem -.1rem rgba(0,0,0,0.5), -0.4rem -0.4rem 2rem -0.1rem rgba(255,255,255,0.4);
  color: #fff;
}

.player-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-top: 5px;
}

.player-footer i{
  font-size: 1rem;
  color: #a8a9ab;
  
}
.player-footer span{
  font-size: 1.2rem;
  color: #a8a9ab;
}



@media only screen and (max-width: 600px) {
  .player {
      width: 23rem;
      height: 42rem;
  }
  .current-song{
    width: 14rem;
    height: 14rem;
  }

  .cover span:nth-child(2){
    width: 10rem;
    top: 35%;
    left: 12%;
    font-size: 2.2rem;
  }
  .controls{
    gap: 3px;
  }
}

@media only screen and (max-width: 423px) {
  .player {

      width: 20rem;
      height: 40rem;
      padding: 2rem;
  }
  .current-song{
    width: 12rem;
    height: 12rem;
  }

  .cover span:nth-child(2){
    width: 9rem;
    left: 9%;
    font-size: 2rem;
  }
  .controls{
    width: 100%;
    gap: 3px;
  }
}

@media only screen and (max-width: 340px) {
  .player {

      width: 17rem;
      height: 38rem;
      padding: 1.7rem;
  }
  .current-song{
    width: 11.5rem;
    height: 11.5rem;
  }

  .cover span:nth-child(2){
    width: 8rem;
    left: 10%;
    font-size: 2rem;
  }
  .controls{
    width: 100%;
    gap: 3px;
  }
  .song-name{
    font-size: 1.4rem;
    font-weight: 300;
  }
  .song-artist{
    font-size: 1rem;
  }
  .player-footer span{
    font-size: 1rem;
  }
  .player-btn{
    width: 2.5rem;
    height: 2.5rem;
  }
  .play-pause{
    width: 4.2rem;
    height: 4.2rem;
  }
  .song-time{
    width: 100%;
    height: .4rem;
  }
  .time span{
    font-size: 1rem;
    color: #a8a9ab;
  }
}

.player-body{
  width: 100%;
  height: 100%;
  
}
.player-body video {
  width: 100%;
  height: 100%;
  /* border-radius: 1rem;  */
  /* Ajusta según tus preferencias */
  /* Otros estilos para el reproductor de video */
}